.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    
}

li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}
li a{
     font-size: 18px; color: black; margin-right: 20px;
     text-decoration: none;
}
.nav-button{
    background-color: rgb(15, 14, 14); margin-left: 10px; border-radius: 10px; padding: 10px;
    width: 90px;
    
}
button a{
    color: white; font-weight: bold; font-size: 15px;
    text-decoration: none;
}
.buy-now{
   color: white; background-color: rgb(15, 14, 14); border-radius: 10px; padding: 10px;
    width: 150px; font-size: 20px;}
    
.carousel-item{
    padding: 20px 50px;
    background-color: lightgray;
    height: 450px;
    border-radius: 10px;
}
.carousel{
    padding-bottom: 50px;
}
.itam-detail{
    padding: 20px;

}
.card{
    padding : 30px;
    width: 380px;
    height: 600px;
    text-align: center;
    box-shadow: 10px 10px 15px lightgray;
    border: none;
}


h3{
    font-weight: bold;
}
h2{
    font-weight: bolder;
}
.phone{
    padding: 40px;
}
.phone-size{

    height: 250px;
}
.categories{
    padding: 80px;
    text-align: center;
}
.categories-row{
    border: 1px solid red;
}

.pale-order{
 height: 400px;
 padding-left: 40px;  
 margin-left: 30px; 
 box-shadow: 10px 10px 10px lightgray;
}
.cat1{
    box-shadow: 10px 10px 10px lightgray;
    width: 250px;
    height: 200px;
    text-align: center;
    padding: 20px;
    
}
.cat2{
    width: 300px;
    height: 300px;
    text-align: center;
    padding: 20px;
}
.cat3{
    padding: 30px;
}
.shoe{
    padding: 20px;
    box-shadow: 10px 10px 10px lightgray;
}
.perfume{
    box-shadow: 10px 10px 10px lightgray;
    padding: 20px;
}